/*font-family: 'Lacquer', ;
font-family: 'Trade Winds', ;
font-family: 'Dancing Script', ;
font-family: 'Indie Flower', ;
font-family: 'Inconsolata',
font-family: 'Raleway' ;;*/

body{
  margin: 0;
  background-color: #40514E;
  text-align: center;
}
h1{
  margin: 0;
  font-family: 'Lacquer' ;
}
p{
  font-family: 'Lacquer';
}



.myPic{
  display: block;
  max-width: 10%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 100%
}


.topContainer{
  background-color: #07689f;
  position: relative;
  padding-top: 100px;
}

.middleContainer {
  background-color: #a2d5f2;
  margin: 200px 0;
}

.bottomContainer {
  background-color: #ff7e67;
  padding: 50px 0 20px;
}

.python{
  max-width: 4rem;
  height: auto;
  position: absolute;
  right: 30%;
  top: 3rem;
}
.Cpp{
  max-width: 4rem;
  height: auto;
  position: absolute;
  left: 30%;
  margin-top: 0.5rem;
}
.programmer{
  display: inline-block;
  max-width:20rem;
  height: auto;
  margin-top: 3rem;
}


#underline{
  text-decoration: underline overline;
}
