body{
  margin: 0;
  background-color: #40514E;
  text-align: center;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
}

#underline{
  text-decoration: underline overline;
}

.topContainer{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middleContainer {
  margin: 100px 0;
}

.bottomContainer {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.topCloud{
  position: absolute;
  right: 300px;
  top: 40px;
}




.bottomCloud{
  position:absolute;
  left: 250px;
  bottom: 300px;
}
