/*font-family: 'Lacquer', ;
font-family: 'Trade Winds', ;
font-family: 'Dancing Script', ;
font-family: 'Indie Flower', ;
font-family: 'Inconsolata', ;*/

body{
  margin: 0;
  background-color: #40514E;
  text-align: center;
}
h1{
  margin: 0;
  font-family: 'Lacquer', cursive;
}
p{
  font-family: 'Lacquer';
}



.myPic{
  display: block;
  max-width: 10%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 100%
}

.topContainer{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middleContainer {
  margin: 100px 0;
}

.bottomContainer {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.topCloud{
  position: absolute;
  right: 10em;
  top: 7%;
}

.bottomCloud{
  position: absolute;
  left: 10em;
  margin-top: 3%;
}
#underline{
  text-decoration: underline overline;
}
